.navbar-bottom{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style-type: none;
  position: fixed;
  bottom: 0;
  width: 440px;
  height: 70px;
  border-top: 1px solid #da9797;
  background-color: blue;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-bottom: 15px;
  gap: 15px;
}

.navbar-item {
  text-decoration: none;
  color: white;
}

.navbar-item__icon{
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 42px;
    font-size: 1.2rem;
}

.navbar-item:hover {
  border-top: 2px solid white;
}
