.navbar-bottom {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 440px;
  height: 60px;
  border-top: 1px solid #da9797;
  background-color: #fff;
  border: 1px red solid;
}

.navbar-item {
  text-decoration: none;
  color: #5a5959;
}

.navbar-item:hover {
  border-top: 2px solid #3165d5;
}
