html,
body {
  padding: 0;
  margin: 0;
}

.titulo{
  font-size: large;
  padding: 10;
  font-weight: bolder;
  font-style: italic;
}

.titulodiv{
  display: flex;
  align-items: center;
  justify-content: center;
}

.image{
  width: 200px;
  height: 200px;
}